<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %>
    <title>Inicio - Biblioteca de Películas</title>
</head>

<body>
  <header>
    <%- include('./partials/headerIndex') %>
  </header>
  <main>
    <div class="movie-list">
      <h2>FilmVault</h2>
      <p>Bienvenido a la mejor biblioteca de películas de todo internet.</p>
      <p>Aquí podrás tener acceso a todas tus películas con sus especificaciones para poder tener a mano toda la
        información sobre ellas.</p>
      <p>Con una interfaz intuitiva para una mejor experiencia.</p>
      <h2>Películas añadidas recientemente</h2>

    </div>
  </main>

  <script src="../public/javascripts/indexMovies.js"></script>
  <script src="../public/javascripts/script.js"></script>
</body>

</html>