<!DOCTYPE html>
<html lang="es">

<head>
  <meta http-equiv="refresh" content="0; URL=../html/index.html">
  <%- include('./partials/head') %>
    <title>Redirigiendo...</title>
</head>

<body>
</body>

</html>