<div class="logo-title-container">
    <a href="http://localhost:3000/">
        <img src="../images/logo.png" alt="Logo" class="logo">
    </a>
    <h1 class="title">Inicio</h1>
</div>
<nav>
    <button id="login-button" onclick="location.href='/login'">Iniciar sesión</button>
    <button onclick="location.href='/register'">Crear cuenta</button>
</nav>